body{
background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(img/medicine.jpg);
background-size: cover;
background-position: center;
}
.login-box{
  max-width: 700px;
  float: none;
  margin: 150px auto;
}
.log{
background: rgba(211,211,211,0.5);
padding: 30px;
}
.reg{
  background-color: #fff;
  padding: 30px;
}
.form-control{
  background: transparent !important;
/*!important because we are overriding the bootstrap class*/
}
a{
  color: #fff !important;
  margin-top: -200px !important;
}
h1{
  color: #fff !important;
  margin-top:200px  !important;
  text-align: center;
  text-transform: uppercase;;
}
.bottomright {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
